:root {
  --black: hsl(0 0% 0%);
  --paper-gray: hsl(42 0% 96%);
  --rwb-blue: hsl(208 100% 45%);
  --rwb-dark-blue: hsl(208 85% 35%);
  --rwb-medium-blue: hsl(208, 75%, 75%);
  --rwb-light-blue: hsl(208 100% 94%);

  --rwb-text: var(--black);
  --rwb-link: var(--rwb-dark-blue);
  --rwb-link-underline: var(--rwb-blue);
  --rwb-background: var(--paper-gray);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--rwb-background);
  color: var(--rwb-text);
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: var(--rwb-text);
  text-decoration-color: var(--rwb-link-underline);
  font-size: 1.5rem;
  font-weight: 500;
}

a:hover {
  color: var(--rwb-link);
}

ul {
  list-style-position: inside;
  padding-left: 0;
}
